body { 
  
  background-color: aqua;
  height: 100vh;
  width: 100vw;
  position: relative;
}
*:focus {
  outline: none;
  }
  * {
  font-family: sans-serif;
  }
  :root {
      --color1:hsl(1, 100%, 50%);
      --color2:hsl(1, 100%, 50%);
      --color3:hsl(1, 100%, 50%);
  }



   P { 
     font-weight: bold;
   }
  #div1 {
  position: absolute;
  width: 300.1499938964844px;
  height: 250px;
  padding: 15px 15px;
  background: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center; 
  border-radius: 20px;
  resize: none;
  }
  .container {
    height: 100%;
    width: 100%;
    position: relative;
  }
  #view {
  position: absolute;
  top: 0;
  width:100vw;
  height: 100vh; 
  }
  #colors { 
  height: 100%;
  }
  .inp {
  width: 90%;
  height: 8px;
  border-radius: 20px;
  margin: 13px 0;
  -webkit-transition: 0.3s;
  }
  #inp1, #inp2, #inp3 {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, 50%); */
  background: linear-gradient();
  }
  #inp1::-webkit-slider-thumb {
      background: var(--color1);
  }
  #inp2::-webkit-slider-thumb {
      background: var(--color2);
  }
  #inp3::-webkit-slider-thumb {
      background: var(--color3);
  }
  
  .inp::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: solid 2px white;
  background: #f2f2f2;
  /* box-shadow: inset 0 0 2px silver; */
  border-radius: 50%;
  }
  input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  width: 25px;
  height: 25px;
  border: solid 1px #f2f2f2;
  background: #f2f2f2;
  box-shadow: inset 0 0 2px silver;
  border-radius: 50%;
  }
  #txt {
      margin:13px 0;
      padding: 8px;
      border: solid 1px silver;
      border-radius: 5px;
      text-align: center;
      background: #ffffff;
  }
  #copy {
      padding: 8px 8px;
      border-radius: 5px;
      border: solid 1px silver;
      background: #ffffff;
      cursor: pointer;
      margin:13px 0;
      -webkit-transition: 0.3s;
  }
  #copy:hover {
      background: #f1f1f1;
  }
  @media only screen and (max-width: 700px) {
  #copy {
      cursor: default;
  }
  }

svg {
  width: 100px;
  height: 150px;
  cursor: pointer;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); 
  position: absolute;
  bottom:  0%;
  left: 50%;
  transform: translate(-50%,-50%);
}
path {
  fill: none;
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  -moz-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  -ms-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  stroke-width: 40px;
  stroke-linecap: round;
  stroke: rgb(71, 71, 71);
  stroke-dashoffset: 0px;
  border: 1px solid #464545;
}
path#top,
path#bottom {
  stroke-dasharray: 240px 950px;
}
path#middle {
  stroke-dasharray: 240px 240px;
}
.cross path#top,
.cross path#bottom {
  stroke-dashoffset: -650px;
  stroke-dashoffset: -650px;
}
.cross path#middle {
  stroke-dashoffset: -115px;
  stroke-dasharray: 1px 220px;
}
